@import "tailwindcss";
@import "@webrecorder/hickory/tokens/tailwind.css";
@import "./fonts";

@theme {
  --default-font-family: "Inter Variable";
  --default-font-feature-settings: "ss04" off, "ss07" on, "ss08" on, "cv10" on;

  --font-display: Konsole, "Inter Variable", system-ui, sans-serif;
  --font-display--font-variation-settings: "wdth" 105, "wght" 650;

  --font-display-wide: Konsole, "Inter Variable", system-ui, sans-serif;
  --font-display-wide--font-variation-settings: "wdth" 115, "wght" 650;

  --font-display-wider: Konsole, "Inter Variable", system-ui, sans-serif;
  --font-display-wider--font-variation-settings: "wdth" 137;

  --font-mono:
    Recursive, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", monospace;
}

@utility card {
  @apply -m-2 rounded-2xl bg-stone-50 p-4 text-stone-600 ring-1 ring-stone-100/0 motion-safe:transition contrast-more:bg-white contrast-more:text-black contrast-more:ring-black contrast-more:transition-none dark:bg-stone-800 dark:text-stone-200 contrast-more:dark:bg-black contrast-more:dark:text-white contrast-more:dark:ring-white;
}

@utility card-sm {
  @apply -m-2 rounded-2xl bg-stone-50 px-4 py-2 text-stone-600 ring-1 ring-stone-100/0 motion-safe:transition contrast-more:bg-white contrast-more:text-black contrast-more:ring-black contrast-more:transition-none dark:bg-stone-800 dark:text-stone-200 contrast-more:dark:bg-black contrast-more:dark:text-white contrast-more:dark:ring-white;
}

@utility card-link {
  @apply focus:ring-brand-blue contrast-more:hover:ring-brand-blue contrast-more:dark:hover:ring-brand-blue ring-offset-white hover:ring-stone-100 focus:ring-2 focus:ring-offset-4 focus:outline-none contrast-more:hover:ring-4 contrast-more:focus:ring-4 dark:ring-offset-stone-900 dark:hover:ring-stone-700;
}

@utility link {
  @apply focus:ring-brand-blue border-b border-b-stone-200 font-semibold text-black ring-offset-stone-50 hover:border-b-stone-400 focus:ring-2 focus:ring-offset-2 focus:outline-none motion-safe:transition contrast-more:transition-none contrast-more:hover:border-b-black dark:border-b-stone-600 dark:text-stone-100 dark:ring-offset-stone-800 dark:hover:border-b-stone-400 dark:hover:text-white contrast-more:dark:hover:border-b-white;
}
